<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Players_AspNETCore</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2faae0d38b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <header>
        <div class="container cabecalho">
            <div>

                <a href="#" onclick="botaoMenu()">
                    <i class="fas fa-bars"></i>
                </a>

                <a asp-controller="Home" asp-action="Index">
                    <img src="Images/Logo.svg" alt="Logo do site E-Players">
                </a>
            </div>
            <nav id="menu">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" title="voltar para a página inicial">INÍCIO</a></li>
                    <li><a href="#horarios" title="Ir até a sessão de horários das partidas">HORÁRIOS</a></li>
                    <li><a href="#resultados" title="Ir até a sessão de resultados das partidas">RESULTADOS</a></li>
                    <li><a href="#noticias" title="Ir até a sessão de notícias">NOTÍCIAS</a></li>
                    <li><a href="#" title="buscar conteudo no site"><i class="fas fa-search"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    
    <footer>
        <div class="container">
            <div>
                <h5>INSTITUCIONAL</h5>
                <nav>
                    <ul>
                        <li><a href="#">Fale Conosco</a></li>
                        <li><a href="#">Regras</a></li>
                        <li><a href="#">Suporte</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="#">Anuncie</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mob_logo_sociais">
                <img src="Images/Logo.svg" alt="Logo do projeto E-Players">
                <div class="sociais">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-youtube-square"></i>
                </div>
            </div>
            <div>
                <h5>PRINCIPAIS LIGAS</h5>
                <h6>LIGA CBL</h6>
                <h6>LIGA LCK</h6>
                <h6>LIGA PROFISSIONAL</h6>
                <h6>LIGA WCG</h6>
            </div>
        </div>
        <p>© Copyrigth 2077 - Todos os direitos reservados ao sena-code</p>
    </footer>



    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
